  *{padding:0;margin: 0; font-family: "Microsoft YaHei","SimSun","SimHei";letter-spacing: 2px;line-height: 40px;}
.nav-bar ul{  
   padding-top: 15px;             /*--导航栏 --*/
  float: right;
  padding-right:100px;        
}
.nav-bar li{
  list-style:none;
  padding-right:40px;
}
.nav-bar a{
  color:#ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.35s;
}
.nav-active div,.nav-dl dt div{
  width: 0;
  margin:0 auto;
  border: 2px solid transparent;
  transition: 0.5s;
}
.nav-active a:hover div,.nav-dl dt a:hover div{ 
  width: 54px;
  border: 2px solid #000000;
  transition: 0.35s;
}
.nav-bar span,.nav-dl dd span{
  width: 0;
  margin: 0 auto;
  display:block;
  border: 2px solid transparent;
  transition: 0.35s;
}
.nav-bar a:hover span,.nav-dl dd a:hover span{
  width: 72px;
  border: 2px solid #00BBFF;
  transition: 0.35s;
}
 .nav-frame{
  width: 100%;
  height: 63px;
  background: #ffffff;
  position: fixed;
  opacity: 0.8;
  display: none;
  z-index:10;
}
.nav-2{                                   /*--导航栏 X2--*/
  width: 100%;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 13;
  display: none;
}
.nav-btn2{
  margin: auto;
  top: 0; left: 0; right: 0;
  width: 55px;
  height: 40px;
  position: absolute;
  top: 10px;
  z-index: 12;
  cursor: pointer;
  border: 1px solid #ffffff;
}
.nav-2 dl{  
  text-align: center;    
  width: 100%;
  height: 250px;
  padding:60px 50px;
  background: #ffffff;
  line-height: 40px;
  opacity: 0.8;
  border-bottom: 2px solid #ffffff;
  display: none;
  }
.nav-dl dt{
  border-top: 2px solid #000000;
  }
.nav-2 dl a{
  text-decoration: none;
  transition: all 0.35s;
  font-weight: bold;
  color: #000000;
}
.home1{
    background: #000000;
}
.home-img1{
    width:100%;
    height:100vh;
    background:url(../img/1.jpg); 
    background-size:cover;
    opacity: 0.8;
}
.home1-bar{                     /*--文字位置 --*/
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.home1-bar h1,.home1-bar h2{
  color: #ffffff;
  text-align: center;
}
.home1-bar h1{
   font-weight: bold;
   font-size: 6rem;
}
.home1-bar h2{
  padding-top: 30px;
  font-size: 4rem;
}
.home-2{
  background: #DDDDDD;
  text-align: center;
  padding-top: 50px;
}
.home-box2{
  opacity: 0;
  transition: 2s;
}
.home-p2{
  opacity: 1;
  transition: 2s;
} 
.home-2 h1{
  padding-top: 20px;
  font-weight: bold;
}
.home-2 p{
  padding:30px 0 50px 0;
  font-size: 2rem;
}
.home-3{
  text-align: center;
}
.home-3 img{
  margin-top: 100px;
}
.home-box3{
  padding-top: 100px;
}
.home-box3 p {
  position: relative;
  left: 120px;
  font-size: 2rem;
  padding:30px 0 50px 0;
  transition: 0.5s 0.3s;
  opacity: 0;
}
.home-box3.act p{
  left:0;
  opacity: 1;
  transition: 1s;
}
.home-4{
  text-align: center;
  background: #DDDDDD;
}
.home-4 img{
  margin-top: 100px;
}
.home-box4{
  padding-top: 100px;
}
.home-box4 p{
  position: relative;
  right: 120px;
  font-size: 2rem;
  padding:30px 0 50px 0;
  transition: 0.5s 0.3s;
  opacity: 0;
}
.home-box4.act p{
  right:0;
  opacity: 1;
  transition: 1s;
}
.home-box3 a,.home-box4 a{
  text-decoration: none;
}
.home1-btn{                        /*--按钮位置 --*/
    width: 18%;
    height: 60px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 3px;
    background: #699ad4;
    cursor: pointer;
    margin-top: 150px;
    border-radius: 25px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
 }
.home1-btn:hover{
    background: #ffffff;
}

.button-box{                       /*--按钮位置 --*/
    text-transform: uppercase;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid #00386a;
    border-radius: 3px;
    display: inline-block;
    transition: 0.5s;
    border: 1px solid #000000;
}

.button-box:hover{
    background:#699ad4;
    color: #ffffff;
    border: 1px solid #0044BB ;
} 
.pic-3 img{                     /*--轮播图大小 --*/
     width: 100%;
     height: 800px; 
}
.home-5{
    text-align: center;
    background-image: url(../img/4.png);
}
.home-box5 h1{
    font-weight: bold;
    padding-top:100px;
    color: #ffffff;
}
.home-box5 p{
  position:relative;
  top: 100px;
  font-size: 2.5rem;
  padding:30px 0 100px 0;
  color: #ffffff;
  transition: 0.5s 0.3s;
  opacity: 0;
}
.home-box5.act p{
  top: 0;
  opacity: 1;
}
.button5{
  border: 1px solid #ffffff;
  color: #ffffff;
}
.home-5 a{
   margin-bottom: 80px;
   text-decoration: none;
}

.footer-bar{
  background:#000000;
  border-top: 2px solid #cccccc;
  padding-top: 50px;
}  
.footer-bar h2,.footer-bar h4{
  color: #ffffff;
}
.top img{
  position: fixed;
  top: 70%;
  right: 5%;
  cursor: pointer;
  display: none;
  z-index: 999;
}





 @media screen and (min-width:320px) and ( max-width:480px){
       .nav-bar ul{
        display: none;
       }
       .nav-2{
        display: block;
       }
       .home1-bar h1{
         font-size: 3rem;
       }
       .home1-bar h2{
        font-size: 1.4rem;
       }
       .home1-btn{
        width: 40vw;
        margin-top: 80px;
        font-size: 1.5rem;
       }
       .home-5 p{
         font-size: 1.5rem;
       }
       .pic-3 img{                     /*--轮播图大小 --*/
        width: 100%;
        height: 400px; 
       }

 }
 @media screen and (min-width:481px) and ( max-width:767px){
      .nav-bar ul{
        display: none;
       }
       .nav-2{
        display: block;
       }
        .home1-bar h1{
         font-size: 3rem;
       }
       .home1-bar h2{
        font-size: 1.5rem;
       }
       .home1-btn{
        width: 50%;
        font-size: 2rem;
       }
       .home1-btn{
        width: 70%;
        font-size: 2rem;
       }
       .home-5 p{
         font-size: 2rem;
       }
       .pic-3 img{                     /*--轮播图大小 --*/
        width: 100%;
        height: 500px; 
       }

 }
 @media screen and (min-width:768px) and ( max-width:1280px){
      .home1-bar h1{
         font-size: 5rem;
       }
       .home1-bar h2{
        font-size: 3rem;
       }
       .home1-btn{
        width: 50%;
        font-size: 2rem;
       }
       .home1-btn{
        width: 50%;
        font-size: 2rem;
       }
       .pic-3 img{                     /*--轮播图大小 --*/
        width: 100%;
        height: 600px; 
       }
 }
